.flex-row {
  display: flex;
  flex-direction: row;
}

mat-card {
  margin: 20px;
  flex: 1;
  height: 150px;
}
.button{
  margin: 20px;
  flex: 1;
  height: 150px;
}

mat-card-title {
  color: #000000;
  
}













