






@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.navbar-custom {
    margin-left: -10px;
    background-color: #29679E;
    height: 60px;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
.center {
    margin: auto;
    width: 75%;
    padding: 10px;
    text-align: center;
}

#trello-logo {
  position: relative;
  bottom: 14px;
  opacity: 0.5;
}

#boards-logo {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 7px;
  right: 6px;
}

#home-logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  transition: .1s ease;
  background: hsla(0,0%,100%,.3);
  border-radius: 3px;
  color: #fff;
  display: block;
  float: left;
  max-width: 32px;
  max-height: 32px;
}

.home {
  margin-right: 3px;
}

#boards-nav {
  font-weight: 700;
  color: white;
}

.header-button {
  transition: .1s ease;
  background: hsla(0,0%,100%,.3);
  border-radius: 3px;
  color: #fff;
  display: block;
  float: left;
  font-weight: 700;
  line-height: 32px;
  margin-right: 4px;
  min-width: 32px;
  font-family: Helvetica;
  padding-left: 20px;
  padding-right: 6px;
  font-size: 14px;
}

#other-btns {
  float: right;
  width: 148px;
  height: 38px;
  margin-right: -18px;
}


.header-search {
  float: left;
  margin: 0 8px 0 0;
  position: relative;
  z-index: 1;
}


/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
li{
  list-style-type: none;
}
.add-liste .card-body {
  display:none;
}
.add-card .card-body {
  display:none;
}