<div class="card textcenter mt-3" [ngClass]="{'add-liste': showForm}">

  <div class="apt-addheading card-header bg-primary text-white"
    (click)="toggleAjtDisplay()">
    + Add ANOTHER Liste
  </div><!-- card-header -->

  <div class="card-body">
    <form id="listeForm" novalidate
    (ngSubmit)="newList(listeForm.value)"  
    #listeForm="ngForm"
    >
     <!--handleadd hiya newList -->
    
      <div class="form-group form-row">
        <label class="col-md-2 col-form-label text-md-right" for="listeTitle">listeTitle</label>
        <div class="col-md-10"> 
          <input type="text" class="form-control" name="listeTitle" id="listeTitle" placeholder="liste's Title" ngModel>
        </div><!-- col-md-10 --> 
      </div><!-- form-group --> 
      <div class="form-group form-row">
        <label class="col-md-2 text-md-right" for="cards">Card</label>
        <div class="col-md-10">
          <input class="form-control" rows="4" cols="50"
            name="cards" id="cards" placeholder="Card" ngModel>
        </div><!-- col-md-10 --> 
      </div> <!--  form-group -->
       <div class="form-group form-row mb-0">
        <div class="offset-md-2 col-md-10">
          <button type="submit" class="btn btn-primary d-block ml-auto">
            Add Listeeeee
          </button>
        </div><!-- col-md-offset-2 --> 
      </div><!-- form-group -->
    </form>
  </div><!-- card-body -->
</div><!-- card-primary -->
