<div class="board-header">
  <!-- <nav>
    <button class="header-button">Board Name</button>
    <button class="header-button">Another Button</button>
  </nav> -->
</div>

<!--

<mat-grid-list cols="3" rowHeight="2:1" >
  <mat-grid-tile *ngFor="let currentList of board?.lists">
    <mat-card>
      <mat-card-header>
        {{currentList.title}}
        <img (click)="createCard(board)" class="image" src="./../assets/images/add.png">
        <img (click)="deleteList(board)" class="image" src="./../assets/images/supp.PNG">
      </mat-card-header>
      <mat-card-content>
        <ul>
        <div dragula="list-bag">
          <li *ngFor="let card of currentList.cards" class="list-card">
            {{card.title}}
            <img (click)="deleteCard(currentList,card._id)" class="image" src="./../assets/images/supprimer.png">
          </li>   
        </div>
      </ul>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<button (click)="createList()" float="right" class="btn-new-list-button">+ Add another list</button>



-->



<div class="stack" >
  
  <mat-grid-list cols="3" rowHeight="2:1" >
  <div class="list" *ngFor="let currentList of board?.lists">
    <div class="item"> 
      <h4 class="list-header">{{currentList.title}}</h4>
      <hr>
      <div class="container">
        <img (click)="createCard(currentList)" class="image1" src="./../assets/images/add.png">
        <img (click)="deleteList(currentList)" class="image2" src="./../assets/images/supp.PNG">
      </div>
      <hr>
      <ul>
        <div dragula="list-bag">
          <li *ngFor="let card of currentList.cards" class="list-card">
            {{card.title}}
            <img (click)="deleteCard(currentList,card._id)" class="image" src="./../assets/images/supprimer.png">
          </li>   
        </div>
      </ul>
    </div>
  </div>
</mat-grid-list>
</div>

<button (click)="createList()" float="right" class="btn-new-list-button">+ Add another list</button>

