.list {
  background-color: #E2E4E6;
  width: 280px;
  margin: 6px;
  
  height: 100%;
  box-sizing: border-box;
  vertical-align: top;
  white-space: nowrap;
  float: left;
  min-height: 76px;
  border-radius: 3px;

  margin-top: 1cm;
  margin-left: 1cm;
  
}
.list-header {
  color: #333;
  font-family: "montserrat";
  font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 4px;
  text-align: center;

  
}
.card{
  font-family: "montserrat";
}

.btn-new-list-button:hover {
  color: #fff;
}

.btn-new-list-button {
  background-color: none; 
  border: 2px solid #3498db;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 12px;
  color: #3498db;
  transition: 0.8s;
}

.btn-new-card-button:hover{
  color:#168316
}

.btn-new-card-button{
  margin-left: 15px;
  margin-right: 5px;
  background-color: none;
  border: 2px solid #3498db;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "montserrat";
  cursor: pointer;
  color: #3498db;
  transition: 0.8s;
}

.btn-delete-list-button:hover{
  color: #FF0000;
}

.btn-delete-list-button{
  background-color: none;
  border: 2px solid #3498db;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "montserrat";
  cursor: pointer;
  color: #3498db;
  transition: 0.8s;
 
}
.list-card {
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 1px 0 #ccc;
    
    margin-bottom: 8px;
    min-width: 256px;
    min-height: 32px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    
    right: 32px;
    margin: 5px;
    margin-top: 9px;
    font-family: "montserrat";
  }

li {
  font-family: Helvetica;
  font-size: 14px;
  padding: 4px;
}




mat-grid-list{
  margin-top: 2cm;
  margin-left: 2cm;
}


mat-grid-tile{
  background-color: slateblue;
  border-radius: 20px;
  margin:0cm 2cm;
  
}


mat-card {
  
  margin-right: 10px;
  margin-left: 10px;
  flex: 1;
  height: 150px;
  background-color: #E2E4E6;
  border-radius: 20px;
}

.image:hover {
  width: 23px;
  height: 23px;
  margin: 2px;
  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0,0,0,.5);
  object-fit: cover;
}

.image {
  width: 23px;
  height: 23px;
  margin: 2px;

}

