<h4>Board number {{id}}</h4>
<button class="apt-addheading card-header bg-primary text-white" (click)="createList()">+ Add another list</button>
<button class="apt-addheading card-header bg-danger text-white" (click)="deleteBoard()">* Delete Board</button>
<!-- <mat-card *ngFor="let list of board?.lists">
    <h3>{{list.title}}</h3>
    <mat-list >
        <mat-list-item *ngFor="let card of list?.cards">
            {{card.title}}
        </mat-list-item>
    </mat-list> 
</mat-card>
<button mat-button (click)="createList()">Create new List</button> -->
 <!-- <div > 
    <div class="list" *ngFor="let currentList of  board?lists">
      <h4 class="list-header">{{currentList.name}}</h4>
      <ul >
        <li *ngFor="let card of currentList?.cards" class="list-card">
          {{card.title}}
        </li>
      </ul>
      <button class="btn new-card-button">+ Add a card</button>
    </div>
 </div> -->
<div class="stack" dragula="list-bag">
  <div class="list" *ngFor="let currentList of  board?.lists">
    <h4 class="list-header">{{currentList.title}}</h4>
    <ul dragula="list-bag">
      <li *ngFor="let card of currentList?.cards" class="list-card">
        {{card.title}}
      </li>
    </ul>
    <button (click)="createCard(currentList)" class="btn new-card-button">+ Add a card</button>
  </div>
</div>